
:root{
  --grey: #6c757d;
  --blue: #007bff;
}

.modal {
    font-family: "Poppins";
    font-size: smaller;
    position: absolute;
    outline: none;
    width: 400px;
    z-index: 1040;
    top: 5%;
    left: 35%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 1000px;
    padding: 20px;
  }
  
  .backdrop {
    position: fixed;
    z-index: 1040;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
  }
  
  .modal-title {
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
    color: var(--blue);
  }
  
  .modal-header {
    border-bottom: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
  }
  
  .modal-desc,
  .modal-header,
  .modal-footer {
    padding: 10px;
    color: #333;
  }
  
  .close-button {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    border: none;
    background-color: white;
    opacity: 0.7;
    cursor: pointer;
  }
  .button {
    cursor: pointer;
    font-size: 1rem;
  }
  
  .modal-footer {
    border-top: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 20px;
    margin-top: 10px;
  }
  
  .secondary-button {
    flex: 1;
    color: #fff;
    background-color: var(--grey);
    border: none;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: smaller;
    cursor: pointer;
  }

  .primary-button {
    flex: 1;
    color: white;
    background-color: var(--blue);
    border: none;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: smaller;
    cursor: pointer;

  }
  
  .modal-example {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .lottie{
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: fixed;
    right: 0;
    bottom: 0;
  }

  .addinput{
    width: 98%;
    outline: none;
    padding: 5px;
    border: 1px solid #007bff65;
    font-size: smaller;
    font-family: "Poppins";
  }

  .addimg{
    font-size: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid #007bff65;
    border-radius: 5px;
    cursor: pointer;
    color: var(--grey);
  }
      
    .addp{
        margin: 0;
    }