

.card{
    background-color: #829ed81e;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 100%;
    padding: 8px;
    border-radius: 8px;
    font-size: smaller;
    line-height: 20px;
}

.poster{
    border-radius: 8px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.title{
    font-size: 20px;
    margin: 8px;
    padding: 10px;
    padding-left: 0;
    border-bottom: 1px dotted rgba(190, 188, 188, 0.185);
}

.descr{
    margin: 8px;
    color: grey;
}

.rate{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
    width: 40px;
    height: 5px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--blue);
    position: absolute;
    top: 15px;
    right: 15px;
}

.rating{
    margin: 8px;
}