

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

:root{
    --grey: #373844;
}

.navbar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 120px;
    background-color: transparent;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: smaller;
    margin-top: 60px;
}

.nav{
    display: flex;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid var(--blue);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #383a5075;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.topnav{
    font-family: "Pacifico";
    font-size: 28px;
    font-weight: solid;
    color: var(--blue);
}

.midnav{
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.navicons1,
.navicons2,
.navicons3,
.navicons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--white);
    border-radius: 30px;
    background-color: rgba(179, 179, 179, 0.034);
    padding: 10px;
    height: 28px;
    width: 28px;
}

.navicons:hover,
.navicons1:hover,
.navicons2:hover,
.navicons3:hover{
    cursor: pointer;
    color: var(--blue);
    background-color: rgba(179, 179, 179, 0.034);
}

.navt1,
.navt2,
.navt3,
.navt{
    font-size: 14px;
}